<div id="card" class="card align-self-stretch" style="width: 18rem">
    <div class="card-body">
        <h5 class="card-title">{{ brewery.name }}</h5>
        <ul>
            <li class="card-subtitle mb-2 text-muted">TYPE: {{ brewery.brewery_type }}</li>
            <li class="card-text">{{ brewery.city }}, {{ brewery.state }}</li>
            <li>Call: <a [href]="breweryPhone">{{ brewery.phone }}</a></li>
            <li>Click <a [href]="breweryUrl">here</a> to visit website</li>
        </ul>
    </div>
</div>