<div class="card align-self-stretch" style="width: 18rem">
    <div class="card-body">
        <h5 class="card-header text-center">{{ brewery.name }}</h5>
        <ul>
            <li id="street" class="card-subtitle text-muted">{{ brewery.street }}</li>
            <li class="card-subtitle mb-2 text-muted">{{ brewery.city }}, {{ brewery.state }}</li>
            <li class="card-text">Type of brewery: {{ brewery.brewery_type | titlecase }}</li>
        </ul>
        <ul>
            <li class="card-text align-text-bottom"><a [href]="breweryPhone" class="badge badge-primary">Phone</a> <a [href]="breweryUrl" target="_blank" class="badge badge-primary">Website</a></li>
        </ul>
    </div>
</div>